body,html{width:100%;}
.clearfix:after{content: "";display: block;clear: both;}
.clearfix{zoom:1;}

.f-fl{float: left;}
.f-fr{float: right;}
i{font-style:normal;}

body,html{
	font-size:14px;
	font-family:'Microsoft Yahei';
}
body{
	background:#F7F7F7 url(../img/body_bg.jpg) no-repeat top center;
}
.hr {
    width: 100%;
    background: #ccc;
    height: 1px;
    border: none;
    margin: 0px;
    padding: 0;
}
.wrap{
	width:1200px;
	margin:0 auto;
}

.header{
	.headerNav{
		height: 30px;
		background:#f2f2f2;
		

		.address{
			width: 100%;
			background:#f2f2f2;
			line-height:30px;

			.logRes{

				ul li{
					float: left;
					width: 60px;
					text-align: center;

					a{
						display: inline-block;
						width: 100%;
						height: 100%;

						&:hover{
							background: #898989;
							color:#fff;
						}
					}
				}

				.userStation{

					p{
						float: left;

					}
					.NavTopUserName{
						float: left;
					}
				}
			}
		}



		
	}
	.ad{
		width: 1200px;	
		margin:0 auto;

		.navBar{

			.navList{
				
				border:#ccc 1px solid;
				margin:25px 90px 0 0 ;
				border-radius: 5px;
				.navItem{

					height: 30px;
					line-height: 30px;
					width: 270px;
					text-align: center;
					border-bottom:1px dotted #ccc;

					&:last-child{
						border-bottom:none;
					}
					// background:#ccc;

					a{	
						display: block;
						line-height: 28px;
						margin-left: 10px;
						height: 28px;
						margin-top: 1px;
						width: 250px;
						border-radius:15px;

						&:hover{
							background: #ddd;
							color:#222;
						}
					}


				}

			}
		}
	}
	.navBarMain{
			background:#ddd;
			height:40px;
			width: 100%;
			position: fixed;
			top: 0px;
			opacity: 1;
			z-index: 5;

			.navList{
				height: 40px;
				line-height: 40px;
				.navItem{
					width: 100px;
					float: left;
					text-align: center;
					font-size: 16px;

					a{
						display: inline-block;
						width: 100%;
						height: 100%;
						color: #222;

						&:hover{
							background:#898989;
							color: #fff;
						}
					}
				}
			}
		}
}
.bigAD{
	width:1200px;
	height:200px;
	margin:20px auto;
	font-size:30px;
	line-height:200px;
	text-align:center;
	border:1px solid #000;


}
.footer{
	background:#424242;
	height:30px;

	.wrap{
		background:#424242;
		height: 30px;

		.copyright{
			width: 100%;
			text-align:center;
			line-height: 30px;
			color: #fff;
			font-size: 14px;
		}
	}
}



.mark{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:110%;
	background:#000;
	opacity:0.5;
	z-index:10;

}

.ctrlBox{
	width: 352px;
    margin: 0 auto 0px;
    background: #fff;
    padding: 15px 22px 27px 22px;
    border-radius: 30px;
    border:1px solid #898989;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 20;

    .ctrlBoxTitle{
    	width: 100%;
    	text-align: center;
    	font-size: 30px;
	    margin-bottom: 15px;
	    color: #ef8107;
    }
	.input{
		width: 346px;
	    position: relative;
	    font-size: 14px;
	    margin-bottom: 15px;

	    input{
	    	width: 296px;
    	    height: 24px;
    	    border: 1px solid #ddd;
    	    padding: 8px 40px 8px 10px;
	    }

	    .icon{
	    	position: absolute;
    	    right: 0;
    	    top: 5px;
    	    display: block;
    	    width: 32px;
    	    height: 32px;
    	    border-left: 1px solid #ddd;

    	    img{
    	    	width: 20px;
	    	    height: 20px;
	    	    margin: 6px;
    	    }
	    }
	    .errTip {
		    font-size: 12px;
		    color: red;
		    margin: 5px;
		    display: none;
		}
	}

	.txtPart{

		.checkbox{
			display: inline-block;
		    width: 14px;
		    height: 14px;
		    border: 1px solid #0066CC;
		    float: left;
		    cursor: pointer;
		    margin: 0 5px 0 8px;

		    .checkImg {
		        width: 14px;
		        height: 14px;
		    }
		}
		.agree{
			height: 14px;
		    line-height: 14px;
		    color: #333;
		    font-size: 13px;
		}
	}
	.btnPart{
		margin: 40px auto 0;
	    width: 170px;
	    height: 50px;
	    line-height: 50px;
	    text-align: center;

	    a{
	    	display: block;
    	    width: 100%;
    	    height: 100%;
    	    color: #fff;
    	    font-size: 20px;
    	    background: #f8931f;

    	    &:hover{
    	    	background: #F892F2;
    	    }
	    }
	}
	.closePart{
		position: absolute;
		top: 20px;
		right: 20px;
		height: 25px;
		width: 25px;
		line-height: 25px;
		text-align: center;
		color: #898989;
		border-radius:50%;
		border:1px solid red;	
		cursor: pointer;
		font-weight: bold;

		&:hover{
			background:red;
			color: #fff;
		}
	}
}

#backTop{
	width:50px;
	height:50px;
	text-align:center;
	line-height:25px;
	font-size:16px;
	position: fixed;
	bottom:30px;
	right:30px;
	background:#ccc;
	color:#333;
	border-radius:10px;
}
.pagination-holder{
	width:100%;
	text-align:center;
	margin:30px 0;
}
.pagination{
	display:inline-block!important;
}



.releaseMes{
	// background: red;
	font-weight: bold;
	color:red!important;
	font-size:18px;

	&:hover{
		color: #fff!important;
	}
}

.goodsMesBig{
	width: 660px;
}

.ctrlBox{

	.goodsMesTxtBox{
		font-size: 18px;
		line-height: 30px;
		.goodsMesTxtTitle{
			float: left;
			width: 250px;
			text-align: right;
		}
		.goodsMesTxt{
			float: left;
			width: 400px;
		}
	}

	.goodsImg{
		width: 630px;
		margin:20px auto 0;
		text-align: center;
		.goodsImgItem{
			width: 136px;
			height:206px;
			display: inline-block;
			margin-right: 10px;

			&:last-child{
				margin-right: 0;
			}
		}
	}

	.mesInput{
		font-size: 14px;
		line-height: 20px;
		padding:0px 5px;
		height:20px;
		margin-bottom: 6px;
		width: 250px;
	}
	.goodMesTextarea{

		width: 250px;
		padding:5px;
		height: 100px;
		resize: none;
	}
}

.goodsMes{
	width:660px;
	// top:105%;
	.goodsBtnPart{
		width: 380px;
		margin:30px auto 0; 
		a{
			display: inline-block;
			width: 170px;
			height: 50px;
			color: #fff;
		    font-size: 20px;
		    background: #f8931f;
		    line-height: 50px;
		    text-align:center;

		    &:hover{
		    	background: #F892F2;
		    }
		}
	}
}



.login-wrap {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    // position: absolute;
    z-index: 999;
}
.login-box {
    padding: 18px 0 7px;
    border-top: 1px solid #D2E0B1;
    border-bottom: 1px solid #D2E0B1;
    box-shadow: 2px 2px 6px #8CA226;
    background: #D9E6BB;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.login-user {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 70px;
}
.login-title, .login-cont, .login-ft {
    display: inline;
    position: relative;
}
.z {
    float: left;
}
.login-title .login-arrow {
    margin-top: 13px;
    width: 30px;
    height: 12px;
    background: url(../img/icon_common.png) no-repeat 0 0;
}
.login-title {
    color: #8CA226;
    margin-bottom: 14px;
    margin-right: 10px;
}
.cl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.login-cont {
    height: 63px;
}

.login-cont li {
    display: inline;
    float: left;
    margin-right: 10px;
    height: 80px;
    overflow: hidden;
}
.login-cont .txt {
    float: left;
    margin-bottom: 10px;
    width: 130px;
    height: 25px;
    line-height: 25px;
    color: #999;
    font-size: 14px;
    zoom: 1;
}

.login-cont .login-item {
    color: #666;
    clear: both;
}
label {
    cursor: pointer;
}

.login-cont .login-item input {
    margin-top: -2px;
}

.login-cont .login-qt {
    width: 77px;
    height: 60px;
    // border-right: 1px solid #B4C574;
}

.login-cont .login-button, .login-cont .login-button:visited {
    display: block;
    float: left;
    width: 64px;
    color: #fff;
    border: 1px solid #b9c97d;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    height: 33px;
    line-height: 33px;
    margin-right: 10px;
    text-align: center;
    background: #7f9c14;
    background: -moz-linear-gradient(top,#abbf42,#8ea423);
    background: -webkit-linear-gradient(top,#abbf42,#8ea423);
}

.login-user a, .login-user a:visited {
    color: #666;
}

#J_loginGuide .login-shortcut {
    margin-top: 20px;
}

.login-shortcut span {
    height: 30px;
    line-height: 30px;
}

.login-shortcut .account-qq, .login-shortcut .account-sina, .login-shortcut .account-taobao, .login-shortcut .account-qihoo {
    float: left;
    margin: 3px 10px 0 0;
    padding-top: 24px;
    width: 24px;
    height: 0;
    background: url(../img/icon_common.png) 0 -50px no-repeat;
    overflow: hidden;
}



.close {
    position: absolute;
    top: 4px;
    right: 10px;
    padding-top: 15px;
    width: 15px;
    height: 0;
    overflow: hidden;
    z-index: 9;
    cursor: pointer;
}
.box-close {
    top: 10px;
    padding-top: 19px;
    width: 20px;
    background: url(../img/icon_common.png) no-repeat 0 -12px;
}
.login-title h3 {
    margin-top: 3px;
    height: 30px;
    font: 400 24px/30px "Microsoft YaHei",SimHei;
}

.goodMesuploadFile{
	display:block;
	margin-left:250px;
}